.custom-nav {
  color: #012438;
  box-shadow: 0px 2px 10px #001722 !important;
}

.custom-nav-link {
  transition: all ease 0.8s;
  position: relative;
  font-size: 18px;
}

.custom-nav-link:hover {
  color: #00bfa6 !important;
}

.custom-nav-link:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00bfa6;
  color: transparent;
  margin: auto;
  content: ".";
}

.custom-nav-link:hover:after {
  width: 100%;
  transition: all 0.8s;
}

.custom-active-nav-link {
  color: #00bfa6;
}

.custom-active-nav-link:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #00bfa6;
  color: transparent;
  margin: auto;
  content: ".";
}

.custom-typing {
  background-color: #024162;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.homePage-icon {
  height: auto;
  width: 60%;
}

.custom-header-divider {
  height: 2px;
  background-color: #00bfa6;
  width: 50%;
}

.domain-title {
  display: inline-block;
  padding: 10px 20px;
  background-color: #024162;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px #012438;
}

/* .icons {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #024162;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 5px #012f47;
} */

.icons {
  transition: all ease 0.3s;
}

.icons:hover {
  transform: translate(0%, -8%) scale(1.09, 1.09);
  transition: all ease-in-out 0.3s;
}

.tooltip div.tooltip-inner {
  background-color: #012f47 !important;
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  padding: 10px !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #012f47 !important;
  background-color: #012f47 !important;
}

.tooltip div.arrow::before {
  border-bottom-color: #012f47 !important;
  color: #fff !important;
}

.custom-card {
  background-color: #024162 !important;
  box-shadow: 5px 5px 20px #012438;
}

/* Education */
.custom-education-card {
  height: 500px !important;
}

.edu-info {
  font-size: 1.1rem;
  letter-spacing: 0.2px;
}

.achievement-desc {
  letter-spacing: 0.3px;
  font-size: 1.1rem;
}

/* Experience */
.exp-body {
  letter-spacing: 0.3px;
  font-size: 1.1rem !important;
}

/* Projects */
.custom-project-desc {
  max-height: 200px;
}

.custom-project-card {
  height: 600px !important;
}

.project-desc {
  font-size: 1.1rem;
  letter-spacing: 0.3px;
}

html,
body {
  overflow-x: hidden !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  font-size: 3rem;
  color: #00bfa6;
  opacity: 0.5;
}

#btn-back-to-top:hover {
  transition: all ease 0.5s;
  opacity: 1;
  cursor: pointer;
}

.contact-info h5 {
  letter-spacing: 1.1px;
}

.contact-list h4 {
  color: #00bfa6;
  font-weight: bold;
}

.custom-footer {
  margin-top: 20px;
  padding: 20px 0px;
  background-color: #001722;
  text-align: center;
  letter-spacing: 1.1px;
}

.education_logo {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #btn-back-to-top {
  z-index: 3000;
  display: inline-block !important;
  font-size: 2.8rem !important;
} */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  /* html,
  body {
    overflow-x: hidden !important;
  } */

  #btn-back-to-top {
    font-size: 2.8rem !important;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .homepage-row {
    margin-top: 60px !important;
  }

  .homePage-icon {
    height: 220px !important;
  }

  .greeting {
    font-size: 25px !important;
  }

  .name {
    font-size: 50px;
  }

  .custom-typing {
    font-size: 16px;
  }

  .bio {
    font-size: 18px;
  }

  .icons {
    height: 2.5rem;
    width: 2.5rem;
  }

  .edu-info {
    font-size: 1rem;
  }

  .achievement-card-img {
    height: 70px;
  }

  .achievement-title,
  .experience-title {
    font-size: 1.1rem;
  }

  button {
    font-size: 16px !important;
  }

  .achievement-desc,
  .exp-body {
    font-size: 1rem !important;
  }

  .title-img {
    height: 320px;
  }

  .project-img {
    height: 150px;
  }

  .project-desc {
    font-size: 1rem;
  }

  .project-icons .icons {
    height: 2rem !important;
    width: 2rem !important;
  }

  .contact-title {
    font-size: 1.3rem;
  }

  .contact-body {
    font-size: 1.1rem;
  }

  .custom-nav-link {
    font-size: 22px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .homepage-row {
    margin-top: 10px !important;
  }

  .custom-typing {
    font-size: 1.2rem;
  }

  .custom-lottie-animation {
    width: 80% !important;
  }

  .custom-edu-card {
    width: 100% !important;
  }

  .title {
    font-size: 2.2rem;
  }

  /* .custom-achievement-img {
    padding-bottom: 2rem;
  } */

  .contact-title {
    font-size: 1.2rem;
  }

  .contact-body {
    font-size: 1rem;
  }

  .experience-card-logo {
    width: 25%;
    height: 10%;
  }

  .education-degree {
    font-size: 1.1rem !important;
  }

  .domain {
    margin-bottom: 12rem !important;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #btn-back-to-top {
    bottom: 10px;
    right: 10px;
    font-size: 2.5rem !important;
  }

  .homePage-icon {
    /* height: 200px !important; */
    width: auto;
    height: auto;
  }

  .row {
    margin-top: 0 !important;
  }

  .content-row {
    margin-top: 10% !important;
  }

  button {
    font-size: 18px !important;
  }

  .title-img {
    height: auto;
    width: 60%;
    margin-top: 4rem;
  }

  .title-container {
    margin-top: 3rem !important;
  }
  /* 
  .experience-card {
    margin-top: 10% !important;
  } */

  .project-img {
    height: 10%;
  }

  .contact-title {
    font-size: 1.7rem;
    width: 100% !important;
    text-align: center;
  }

  .contact-body {
    font-size: 1.2rem;
  }

  .contact-info h5 {
    font-size: 1.2rem !important;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Navbar */
  .logo {
    height: 60px;
    width: 60px;
  }

  /* Home Page */
  .homePage-icon {
    width: auto;
  }
  .custom-typing {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .name {
    font-size: 3.8rem;
  }
  .greeting {
    font-size: 35px !important;
  }
  .icons {
    height: 3rem;
    width: 3rem;
  }
  .bio {
    font-size: 1.3rem;
  }
  .quotes {
    font-size: 6rem !important ;
  }
  .custom-lottie-animation {
    width: 100% !important;
  }
  .domain-title {
    font-size: 1.7rem !important;
  }
  .domain-subtitle {
    font-size: 1.5rem !important;
  }

  /* Education */
  .custom-edu-card .card-header h5 {
    font-size: 1.4rem !important;
  }
  .edu-info {
    font-size: 1.2rem;
  }

  /* Experience */
  .experience-card-logo {
    width: 80%;
  }
  .achievement-title,
  .experience-title,
  .project-title,
  .contact-title {
    font-size: 1.5rem;
  }
  .achievement-desc,
  .project-desc,
  .exp-body {
    font-size: 1.3rem !important;
  }
  .title-container h1 {
    font-size: 3rem !important;
  }

  .title-img {
    height: auto;
    width: 80%;
  }
  .experience-card {
    margin-left: 2%;
    margin-right: 2%;
  }
  .exp-company,
  .exp-location {
    font-size: 1.2rem !important;
    align-self: flex-start;
  }

  .exp-duration {
    font-size: 1.2rem !important;
    align-self: flex-start;
    margin-top: 20px;
  }

  /* Project */
  .project-icons .icons {
    height: 3rem !important;
    width: 3rem !important;
  }

  /* Contact */
  .contact-title {
    font-size: 1.2rem;
  }
  .contact-body {
    font-size: 1.1rem;
  }

  .contact-info h5 {
    font-size: 1.5rem !important;
  }

  /* Other */
  button {
    font-size: 1.4rem !important;
  }
}

/* @media (max-width: 399.98px) {
  .logo {
    height: 50px;
    width: 50px;
  }

  .navbar-toggle-btn {
    height: 1.2rem;
    width: 1.2rem;
  }

  .custom-nav-link {
    font-size: 22 !important;
  }

  .bio {
    font-size: 0.92rem;
    letter-spacing: 0.3px;
  }

  .quotes {
    font-size: 5rem !important;
  }

  .upquote {
    margin-bottom: 20px !important;
  }

  .domain-header {
    font-size: 1.5rem;
  }

  .edu-info {
    font-size: 0.9rem !important;
  }

  .achievement-desc,
  .project-desc {
    font-size: 0.9rem !important;
  }

  button {
    font-size: 0.9rem !important;
  }

  .title-img {
    width: 100%;
    height: 200px;
  }

  .achievement-title,
  .experience-title,
  .project-title,
  .contact-title {
    font-size: 1.1rem;
  }

  .exp-company,
  .exp-location {
    font-size: 14px !important;
  }

  .exp-duration {
    font-size: 14px !important;
    margin-top: 15px;
  }

  .project-icons .icons {
    height: 1.7rem !important;
    width: 1.7rem !important;
  }

  .domain-title {
    font-size: 1rem;
  }

  .contact-body {
    font-size: 0.9rem;
  }
}

@media (max-width: 320.98px) {
  .homePage-icon {
    height: 180px !important;
  }

  .custom-typing {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .custom-lottie-animation {
    width: 100% !important;
  }

  .education-degree {
    font-size: 1.1rem;
  }

  .edu-info {
    font-size: 0.9rem !important;
  }

  .title-img {
    height: 150px;
  }

  .title {
    font-size: 1.5rem !important;
  }

  button {
    font-size: 1.5rem !important;
  }

  .domain-title {
    font-size: 0.9rem;
  }

  .experience-card-logo {
    width: 50%;
    height: 20%;
  }

  .experience-title {
    font-size: 1rem !important;
  }
  .exp-body {
    font-size: 0.9rem !important;
  }

  .exp-company,
  .exp-location,
  .exp-duration {
    font-size: 12px !important;
  }

  #btn-back-to-top {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 299.98px) {
  .homePage-icon {
    height: 150px !important;
  }

  .custom-typing {
    font-size: 0.9rem;
  }

  .greeting {
    font-size: 1.2rem !important;
  }

  .name {
    font-size: 2rem;
  }

  .icons {
    height: 1.7rem;
    width: 1.7rem;
  }

  .bio {
    font-size: 0.7rem;
  }

  .domain {
    margin-bottom: 4rem !important;
  }

  .domain-subtitle {
    font-size: 0.9rem !important;
  }

  .domain-title {
    font-size: 0.8rem;
  }

  .domain-header {
    font-size: 1.5rem !important;
  }

  .title-img {
    width: 80%;
  }

  .edu-container {
    margin-top: 20px !important;
  }

  .custom-edu-card .card-header h5 {
    font-size: 0.85rem !important;
  }

  .custom-edu-card .card-body h6,
  .custom-edu-card .card-body span {
    font-size: 0.8rem !important;
  }

  .achievement-card-img {
    height: 60px;
  }

  .achievement-title,
  .experience-title {
    font-size: 0.8rem !important;
  }

  .achievement-desc,
  .project-desc {
    font-size: 0.7rem !important;
  }

  .achievement-card-img {
    height: 50px;
  }

  .experience-card-logo {
    width: 50%;
  }

  .exp-company,
  .exp-location,
  .exp-duration {
    font-size: 10px !important;
  }

  .exp-body {
    font-size: 11px !important;
  }

  .project-icons .icons {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }

  .project-col {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .project-title {
    font-size: 1rem !important;
  }

  .project-desc {
    font-size: 0.8rem;
  }

  .contact-title {
    font-size: 0.9rem;
  }

  .contact-body {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.75rem !important;
  }
} */
