body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002f47;
  color: #fff;
}

button {
  background-color: #00bfa6;
  color: #002f47;
  padding: 5px;
  font-size: 15px !important;
  font-weight: bold !important;
}

button:hover {
  background-color: #027969;
  transition: all ease 0.5s;
  color: #fff;
}
