body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002f47;
  /* background-color: #b9d0e9; */
  color: #fff;
  /* color: #0e2239; */
  overflow-y: hidden;
  scrollbar-width: 5px;
  scrollbar-color: #00bfa6;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #002f47;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00bfa6;
}

button {
  background-color: #00bfa6;
  color: #002f47;
  padding: 5px;
  font-size: 18px !important;
  font-weight: bold !important;
}

button:hover {
  background-color: #027969;
  transition: all ease 0.5s;
  color: #fff;
}
